<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body class="bg-custom">

<!-- Navbar -->
<div class="navbar">
    <div class="logo">    
        <img src="/static/images/logo.png" alt="Pammvi Exports">
    </div>
    {% if current_user.is_authenticated%}
    <div>
        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
    </div>
    {% else %}

    <div class="Login">
        <a class="nav-link" href="{{url_for('login')}}">Login</a>
    </div>

    <div class="Register">
        <a class="nav-link" href="{{url_for('register')}}">Register</a>
    </div>
    
    
    {%endif%}
    

    <div class="dropdown">
        <a class="navtext">Imp/Exp</a>
        <div class="dropdown-content">
            <a href="{{ url_for('enter_num.enter_num') }}" target="_blank">Create PO</a>
            <a href="{{ url_for('enter_po_num.enter_po_num') }}" target="_blank">View PO</a>
            
           
        </div>
    </div>

    <div class="Logistics">
        <button class="navtext">Logistics</button>
    </div>
    <div class="Products">
        <button class="navtext">Products</button>
    </div>
    <div>
        <a class="navtext" href="#">Contact us</a>
    </div>
</div>

<!-- Main Content -->
<div class="main-content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
