    {% extends "base.html" %}
    {% block title %} {% endblock %}

    {% block content %}
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
        <div class="container">
            {% if current_user.is_authenticated%}
            {% else %}
            <p>Please register or login</p>
            {%endif%}
        <h1>{{current_user.username}}  Welcome to Pammvi Exports Website</h1>
            
                <!-- Your image at the top of the page -->
                
                <img  src="{{ url_for('static', filename='images/image.webp') }}" alt="Your Image" class="img-fluid">
            </div>

        </div>
    {% endblock %}