{% extends "base.html" %}
{% block title %} About Page {% endblock %}

{% block content %}
   
        <h1> About Exports Software</h1>
        
            <p >About Us
                When new markets and business opportunities come along, the Pammvi is ready to change. 
                Because of this strategic positioning, Pammvi can now serve a wide range of industries in the new economy, including pharmaceuticals, laboratories for food safety and petrochemicals, five-star hotels, and multinational corporations in the building construction, oil and gas, plastics, textile, and automotive industries. 
                From wide range of the product, to name a few, we sell oil sorbent pads, oil and gas products,
                absorbent soaker pads, medical equipment, diagnostics test kit, 
                hot air gun/Heat Gun and it’s spare parts and accessories, gas detectors, and many more. 
                There is always a follow-up to make sure the customer is happy with their purchase.
                Because of this, we can offer specialised knowledge and services to a wide range of
                industry leaders as well as a large network of many other clients from all over the world. 
                With new products and upgrades, we are always getting better and expanding our reach.
                We are ready for any problems that may come up because we have the latest technology.</p>
            
            <!-- Your image in the middle of the page -->
            <img src="{{ url_for('static', filename='images/image.webp') }}" alt="Pammvi Exports Limited">
        </div>
    </div>
{% endblock content %}