.navbar {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Corrected typo from 'rap' to 'wrap' */
    background-color: blue;
    justify-content: space-between; /* Adjust as needed */
}


.navtext {
    color: white; /* Example color (blue) */
    font-weight: bold; /* Example font weight */
    text-decoration: none; /* Example removing underline */
    margin-right: 0px; /* Example margin */
}

.logo img {
    max-height: 40px; /* Adjust as needed */
}

.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display:none;
    position: absolute;
    background-color: red;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }


  .dropdown:hover .dropdown-content {
    display: block;
  }

.bg-custom {
        background-image: url('/static/images/images.webp');
        background-size: cover;
        background-position: center;
    }
 
    img {
        width: 100%;
        height: auto;
      }