<!-- success.html -->

{% extends 'base.html' %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


{% block title %}Success{% endblock %}

{% block content %}

    <h1>Proforma Invoice Generated Successfully!</h1>
    <p> Total :{{total}}</p>

    <!-- Add any additional success message or details -->
{% endblock %}